includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
    excludePaths:
        - app/Http/Controllers/Auth
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Method .* should return .* but returns .*#'
        - '#expects view-string#'
        - '#Relation .* is not found#'
        - '#Cannot call method .* on string#'
        - '~Parameter #1 \$callback of method .* contains unresolvable type~i'
        - '#Invalid array key type .*#'
        - '#Offset .* does not exist on list#'
        - '#Match expression does not handle remaining value#'
        - '#Negated boolean expression is always false#'
        - '#Property .* on left side of \?\? is not nullable#'